doctype html
html
  head
    title Edit Information
    link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel="stylesheet", href="/public/app.css")
  body
    div(class="container centered")
      div(class="row", id="tabs")
        ul
          li: a(href="#tab1") Plivo
          li: a(href="#tab2") Billing
          li: a(href="#tab3") App Setting
          li: a(href="#tab4") Proxy
          li: a(href="#tab5") Dot Gmail
          li: a(href="#tab6") SNKR Generator
        div(class="bordered", id="tab1")
          h3 Plivo Setting
          label Email
          -var plivoUser = setting.find(set => set.name == 'plivo.user');//.split(':')
          -console.log(plivoUser)
          input(class="u-full-width", id="puser", value=plivoUser[0], type="text", placeholder="ryen@gmail.com")
          label Password
          -var plivoPassword = settings['plivo.pass']
          input(class="u-full-width", id="ppass", value=plivoUser[1], type="password", placeholder="Password")
          button(class="button-primary u-full-width", id="savePlivo") SAVE
        div(class="bordered", id="tab2")
          h3 Personal Setting
          label First Name
          input(type="text", id="first_name", value="", class="u-full-width", placeholder="Ryen")
          label Last Name
          input(type="text", id="last_name", value="", class="u-full-width", placeholder="KC")
          label Address
          div(class="row")
            input(type="text", class="columns six", id="street", value="", placeholder="Street")
            input(type="text", class="columns six", id="city", value="", placeholder="City")
          div(class="row")
            input(type="text", class="columns six", id="state", value="", placeholder="State")
            input(type="text", class="columns six", id="country", value="", placeholder="Country")
          label Date Of Birth
          input(type="text", id="dob", value="", class="u-full-width", placeholder="10/19/1992")
          button(class="button-primary u-full-width", id="savePersonal") SAVE
        div(class="bordered", id="tab3")
          h3 App Setting
          label Proxy
          input(type="checkbox", id="use_proxy")
          span &nbsp; Use, if available
          label SNKR Account Quantity
          p Plivo and Gmail accounts will be calculated on basis of SNKR account requirements.
          input(type="number", min="1", value="1", id="qty")
          button(class="button-primary u-full-width", id="saveSetting") UPDATE
        div(class="bordered", id="tab4")
          h3 Proxy
          textarea(id="proxy", class="u-full-width", placeholder="ip:port") #{proxies}
          button(class="button-primary u-full-width", id="saveProxy") SAVE
        div(class="bordered", id="tab5")
          h3 Dot Generator
          label Gmail <span id="counter"></span>
          input(type="text", id="gmail")
          button(class="button-primary u-pull-right", id="generate") Generate
          textarea(id="gmails") #{gmails}
        div(class="bordered", id="tab6")
          h3 Created accounts
          button(class="button-primary", id="btnExport") Export
          button(class="button", style="margin-left: 4px;", id="btnClear") Clear
          button(class="button-primary u-pull-right", id="btnStart") Start
          div(id="results")
    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script.
     var worker = new Worker('public/app.js');
     var count = 0;
     $(function() {
       $( "#tabs" ).tabs();

       $("#btnClear").click(function() {
         if (confirm("All the accounts will be removed. Are you sure?")) {
           
         }
       });

       $("#btnExport").click(function() {

       });

       $("#btnStart").click(function()  {
         $(this).attr('disabled', 'disabled');
         $.ajax({
           url: '/start',
           method: 'GET',
         })
         .done(res => {
           alert(res.message)
           if (!res.success) {
             $(this).removeAttr('disabled');
           }
        })
       });

       $('#savePlivo').click(function() {
         var eleEmail = $('#puser');
         var elePass  = $('#ppass')
         if (eleEmail.val().trim().length === 0 || eleEmail.val().indexOf('@') === -1) {
           return eleEmail.focus();
         }
         if (elePass.val().trim().length === 0) {
           return elePass.focus();
         }
         $.ajax({
           url: '/save/plivo',
           method: 'POST',
           data: {
             email: eleEmail.val(),
             pass: elePass.val()
           }
         })
         .done(function (res) {
           alert(res);
         });
       });

       $('#savePersonal').click(function () {
         var elements = [ $('#first_name'), $('#last_name'), $('#street'), $('#city'), $('#dob'), $('#state'), $('#country') ];
         var formData = { }
         var element;
         for(var e in elements) {
           element = elements[e];
           if (element.val().trim().length === 0) {
             return element.focus();
           }
           formData[element.attr('id')] = element.val();
         }
         $.ajax({
           url: '/save/personal',
           method: 'POST',
           data: formData
         })
         .done(function (res) {
           alert(res);
         });
       });

       $('#saveSetting').click(function() {
         $.ajax({
           url: '/save/setting',
           method: 'POST',
           data: {
             proxyEnabled: $('#use_proxy').val(),
             quantity: $('#qty').val()
           }
         })
         .done(function (res) {
           alert(res);
         });
       });

       $('#saveProxy').click(function() {
         $.ajax({
           url: '/save/proxy',
           method: 'POST',
           data: {
             proxies: $('#proxy').val()
           }
         })
         .done(function (res) {
           alert(res);
         });
       });

       $('#generate').click(function () {
         startGenerating();
       });

     });
     function startGenerating() {
        worker.terminate();
        count = 0;
        worker = new Worker('public/app.js');
        //Clear the text area

        var emails = $("#gmails");
        emails.val("");

        var username = $("#gmail").val();
        if (username.length == 0) {
          $("#counter").text("Generated: 0");
          return;
        }
        if (username.indexOf('@') !== -1) {
          username = username.substring(0, username.indexOf('@'));
        }
        username = username.replace(/\./g, '');
        var combinations = Math.pow(2, username.length - 1);
        worker.onmessage = function(event) {
            count++;
            emails.val(emails.val() + event.data);
            $("#counter").text("Generated: " + count + '/' + combinations);
            if(count == combinations) {
              emails.val($.trim(emails.val()));
              $.ajax({
                url: '/save/emails',
                method: 'POST',
                data: {
                  emails: emails.val()
                }
              })
              .done(function (res) {
                alert(res);
              });
            }
        };
        worker.postMessage(username);
     }
    script(src="/public/app.js", type="text/javascript")